header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

li {
    color: white;
    font-family: sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    transition: 1s;
}
li:hover{
    color: red;
    cursor: alias ;
}