.hero {
    height: 900px;
    background: url('../img/bc.png') center/cover;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #D4C17F;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.hero__bottom {
    margin-top: 200px;
    display: flex;
    gap: 100px;
}

.hero__bottom h2 {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

.hero__bottom h2 img {
    margin-right: 15px;
}